body { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    height: 100vh;
    background-color: rgb(169, 178, 185);
}

/* title */
#title {
    color: rgb(19, 6, 6);
}

/* gameboards */
#gameboards-section {
    display: flex;
    gap: 20px;
    padding: 70px;
}

.gameboard {
    border: 6px solid black;
    border-radius: 8px;
    padding: 2px;
}

/* tiles */
.board-tile {
    background-color: lightblue;
    border: 1px solid #333;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
}

.board-tile.hit {
    background-color: #ff4444;
    color: white;
}

.board-tile.miss {
    background-color: #4444ff;
    color: white;
}

.board-tile.attacked {
    cursor: not-allowed;
}

#turn-indicator {
    background-color: #f0f0f0;
    padding: 10px 20px;
    margin: 24px;
    border-radius: 5px;
    border: 2px solid #333;
    text-align: center;
}

.ship {
    background-color: rgb(104, 11, 11);
}

.board-tile:hover {
    background-color: green;
}

button {
    border: 4px solid rgb(37, 90, 61);
    border-radius: 10px;
    color: rgb(0, 0, 0);
    background-color: whitesmoke;
    font-size: 14px;
    padding: 4px;
}

button:hover {
    background-color: green;
    color: white;
}