body { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(169, 178, 185);
}

#title {
    color: rgb(19, 6, 6);
}

#gameboards-section {
    display: flex;
    gap: 20px;
    padding: 70px;
}

.gameboard {
    border: 6px solid black;
    border-radius: 8px;
    padding: 2px;
}

.board-tile {
    display: inline-block;
    background-color: lightblue;
    border: 1px solid black
}

.board-tile:hover {
    background-color: green;
}